extends layout

block content
  html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #div1.clogo(align='center')
      a(href='LoginPage1.html') Company Logo